body{
    text-align: center;
    font: normal 20pt Arial;
}
input{
    width: fit-content;
    font: 20pt Arial;
}
#reset{
    margin: 10px;
}
#resultado{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20PX;
}
img{
    width: 145px;
    height: 145px;
}
.imagem{
    width: 154px;
    height: 154px;
    border: 2px solid black;
    border-radius: 10px;
}
#vencedor{
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    font-size: 30pt;
    border: 2px solid black;
    width: fit-content;
    border-radius: 10px;
    background-color: lightgray;
}
.placar{
    margin: 20px;
    font-size: 30pt;
}
#area{
    border: 3px solid black;
    padding: 15px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}